<% content_for :sidebar do %>
  <%= render :partial => "bookmarks/addresses/tag_cloud_bookmarks" %>
<% end %>
   
<div class="internal_padding clearfix">

    <br/>

  <div id="bookmarks">

  <br/>
  <p><%= link_to 'Nuevo enlace', new_member_bookmarks_bookmark_path, :class => 'button mainaction round' %></p>
  
  <ul class="listG">
    
       <div id="feedback_msg" style="display:none;"><br/><div class="notice">Enlace añadido correctamente</div></div>
    <% if not @bookmarks.blank?%>
       <% @bookmarks.each do |bookmark| %>
       <li class="clearfix">
          <div id="bookmark<%=bookmark.id%>">
         
            <table width="100%">
              <td style="width:20%">
                <%= image_tag "http://api.thumbalizr.com/?url=#{bookmark.url.url}&width=100" %>
              </td>
              <td style="width:80%">
                  <div class="title"><%= link_to bookmark.title, bookmarks_address_path(bookmark.url), :class =>"maincolor3"%></div>
                  <span title="compartido por <%= bookmark.url.bookmarks_count %> usuarios" class="hits_ico right_ico">Compartido por <%= bookmark.url.bookmarks_count %> usuarios</span>
                  <div class="subtitle">
                    <span class="maincolor2"><%= link_to bookmark.url.url, bookmark.url.url, :class =>"maincolor3"%>      </span>
                  </div>
                  <div class="text">
                    <%= bookmark.description %>
                    <br/>
                    <% tags = bookmark.tag_list %>
                    Tags:
                    <% if !tags.blank? %>
                      <% for tag in tags %>
                        <%= link_to tag, tags_bookmarks_addresses_path(:tag => tag) %>
                      <% end %>
                    <% else %>
                      No tags.
                    <% end %>
                    <br/><br/>
                    <div id="item_buttons">
                    <%= share_with_groups_link(bookmark.url) -%>
                    <%= link_to 'Editar', edit_member_bookmarks_bookmark_path(bookmark), :class =>'button mainaction round'%>
                    <%= link_to 'Eliminar',member_bookmarks_bookmark_path(bookmark), :confirm=>'¿De verdad quieres eliminar el enlace?', :method => :delete, :class =>'button mainaction round' %>
                    </div>
                  </div>
              </td>  
            </table>
          </div>    
       </li>
      <%end -%>
    <%else%>
      <li class="clearfix"><%=I18n.t("tog_bookmarks.site.no_bookmarks")%></li>
    <%end%>
    </ul>
    <%= will_paginate @bookmarks %>
  </div>

<br/>


</div>