<h2><span><%=I18n.t("interface.site.bookmarks")%></span></h2>
<p><%= link_to I18n.t('tog_bookmarks.member.new_link'), new_member_bookmarks_bookmark_path, :class => 'button add' %></p>


<table class="tableB">
    <thead>

    <tr>
        <th scope="col">Snapshot</th>
        <th scope="col">Title</th>
        <th scope="col">Shared by</th>
        <th scope="col">Creation date</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="6" class="info_results">
            <span class="info_items"></span>
            <span class="pages_navigation right"><%= will_paginate @bookmarks%></span>                                    
            </td>
        </tr>
    </tfoot>

    <tbody>
      <% for bookmark in @bookmarks %>
        <tr <%= cycle("class=\"pair\"", "")%> >
            <td><%= snapshot_image(bookmark.address, 100)%></td>
            <td><%= bookmark.title %></td>
            <td><%= bookmark.address.bookmarks_count %></td>
            <td><%= bookmark.creation_date %></td>
            <td><%= link_to 'Edit', edit_member_bookmarks_bookmark_path(bookmark), :class =>'button'%></td>
            <td><%= link_to 'Remove',member_bookmarks_bookmark_path(bookmark), :confirm=>'Are you sure you want to delete this bookmark?', :method => :delete, :class =>'button delete' %></td>
        </tr>
      <%end-%>
    </tbody>
</table>