<%
@profile = current_user.profile
%>

<div id="pagebody" class="clearfix">
    <h2 class="maintitle clearfix"> <span class="icon perfil">Mi perfil</span></h2>
    
    <div id="sidebar_1">

        <%= render :partial => "/profiles/details_portlet" %>

    </div> <!-- #sidebar_1 -->
  
    
    <div id="mainzone">
        <%= render :partial => "/profiles/submenu" %>
        
        
        
        <!-- DISPLAYER ... -->

        <div id="section_enlaces">
            <div class="menu clearfix maincolor4">
                <span class="title">Enlaces</span>

                <span class="new"><%= link_to_function 'Nuevo enlace',"Form.reset('f_new');Element.toggle('bookmarks');Effect.toggle('f_new','slide')", :class => 'maincolor4'%></span>
                
            </div>
            <div class="section_content twocols_inside clearfix">
                
                <div class="leftcol_inside">

                <ul class="categories">
                    <li class="on person">
                        <a href="/ilinks" class="maincolor2" title="arrastra un link aquí para copiartelo en tu perfíl"><span>Mis enlaces</span></a>
                    </li>
<% if @profile.user.has_family? -%>
                    <li class="haschildren people">
                        <li><a href="/ilinks/family" class="maincolor2" id="family_<%=@profile.user.family.id%>" title="arrastra un link aquí para asignárselo a tu familia y todos sus miembros"><span>Toda mi familia</span></a></li>
                        <%= drop_receiving_element("family_#{@profile.user.family.id}", :url => { :action => "drop_link", :family_id => @profile.user.family.id }) %>
                        <ul>
						  <% for rel in  @profile.user.family.members %>	
							<% if rel.id != @profile.user_id %>
							<li><a href="/ilinks/user/<%=rel.id%>" class="maincolor2" id="related_<%=rel.id%>" title="arrastra un link sobre este usuario para asignárselo"><span><%=rel.name%></span></a></li>
							<%= drop_receiving_element("related_#{rel.id}", :url => { :action => "drop_link", :related_id => rel.id }) %>
						    <% end -%>
						  <% end -%>	
                        </ul>                                    
                    </li>
<% end -%>
                    <li class="on haschildren people">
                        <a href="#" class="maincolor2"><span>Mis comunidades</span></a>
                        <ul>
                          <% for community in  @profile.user.groups %>	
						<li><a href="/ilinks/community/<%=community.id%>" class="maincolor2" id="community_<%=community.id%>"  title="arrastra un link sobre esta comunidad para asignárselo"><span><%= community.name %></span></a></li>
						<%= drop_receiving_element("community_#{community.id}", :url => { :action => "drop_link", :community_id => community.id }) %>
						  <% end -%>
                        </ul>                                    
                    </li>
                </ul>

                </div>
                
                <div class="rightcol_inside">
                    <div id="bookmarks">
                  
                    <ul class="enlaces_list">
	<li><div class="title">Your bookmarks</div>
		<div id="feedback_msg" style="display:none;"><br/><div class="notice">Enlace añadido correctamente</div></div>
		</li>
<div id='enlaces'>
<% if not @bookmarks.blank?%>

   <% @bookmarks.each do |bookmark| %>
<li id="enlace_<%=bookmark.id%>" class="enlace" title="Pincha y arrastra para compartir este link con tus amigos o comunidades">
        <div class="title"><%= link_to bookmark.title, bookmarks_address_path(bookmark.url), :class =>"maincolor3"%></div>
        <div class="url maincolor2"><%=bookmark.url.url%>
            <br/>
            Compartido por <%= link_to bookmark.url.owner.login, profile_path(bookmark.url.owner.profile), :class => 'maincolor2' %>
        </div>

        <div class="metainfo">

        <span class="hits maincolor3"><%= bookmark.url.bookmarks_count %> <img src="/img/ico/hits.gif" alt="compartido por <%= bookmark.url.bookmarks_count %> usuarios" title="compartido por <%= bookmark.url.bookmarks_count %> usuarios" /></span>
        </div>
</li>
   <%end -%>

<%else%>
  No hay enlaces.
<%end%>
</div>
  					</ul>
<% if not @bookmarks.blank?%>                    
                    <div class="pages_navigation">
						 <%= will_paginate @bookmarks%>
                    </div>   
<% end %>
					</div>


<!-- formulario  nuevo bookmark  -->

    <% form_for :bookmark, :url => member_bookmarks_bookmarks_path, :html => {:id => 'f_new', :style => 'display:none', :method => "post"} do |f| -%>
    
        <div class="title1 maincolor4">Nuevo enlace para el usuario <%=current_user.name%></div>
        <div class="content clearfix">
            <dl class="left">
                  <dt><label for="titulo">Titulo</label></dt>
                  <dd><%= f.text_field :title, :class => "wide fieldbox", :size => 30 %></dd>
                  <dt><label for="url"><acronym lang="en" xml:lang="en" title="Uniform Resource Locator (Localizador Uniforme de Recurso)">URL</acronym></label></dt>
                  <dd><%= f.text_field :url, :class => "wide url", :size => 30 %></dd>
            </dl> 
            
            <dl class="right">                  
                  <dt><label for="visibilidad">Visibilidad</label></dt>
                  <dd>	<%= select( "bookmark", "privacy", { "Amigos" => "1",
														"Familia" => "3",
														"Familia y amigos" => "4",
						                "Privada" => "2",
													  "Pública" => "0"},
														:html => {:class => 'wide'}) %></dd>
            </dl> 
            
            <dl class="clear">
                  <dt><label for="tags">Etiquetas (Tags) (separados por comas):</label></dt>
                  <dd><%= f.text_field :tag_list, :class => "wide fieldbox", :size => 30 %></dd>
                  
                  <dt><label for="description">Descripción</label></dt>
                  <dd><%= f.text_area :description, :class => "wide fieldbox", :size => "40x20" %></dd>
            </dl> 
            
            <div class="form_actions">

                <%= submit_tag 'Guardar', :name => 'bntsubmit', :class => 'button1'%>
                <%= button_to_function 'Cancelar',"Element.slideUp('f_new');Element.toggle('ilinks');Form.reset('f_edit');",  :class => 'button1'%>
            </div>
        </div> <!-- .content -->
    <% end -%>




<!-- fin de formularios de nuevo bookmark -->




	              </div> <!-- .rightcol_inside -->


	           </div> <!-- .section_content -->        
	     </div>  <!-- #section_enlaces -->


    </div> <!-- #mainzone -->   
        
</div>  <!-- #pagebody -->
