<div id="feedback<%=addr.id%>" style="display:none;"><div id="msg<%=addr.id%>" class="notice"></div></div>
<li>
	<div class="title"><%= link_to addr.title, bookmarks_address_path(addr), :class =>"maincolor3"%></div>
	<span title="compartido por <%= addr.bookmarks_count %> usuarios" class="hits_ico right_ico"><%=addr.bookmarks_count%> <img src="/img/ico/hits.gif" alt="compartido por <%= addr.bookmarks_count %> usuarios" title="compartido por <%= addr.bookmarks_count %> usuarios" /></span>

	<div class="subtitle">
		<span class="maincolor2"><%= link_to addr.url, addr.url, :class =>"maincolor3"%><br />
		Compartido por <%=link_to(addr.owner.name, profile_path(addr.owner.profile), :class => 'maincolor5') %> el <%=addr.created_at.strftime("%d/%m/%Y")%>
		<br/> Comentarios: <a href="/links/<%=addr.id%>" class="maincolor5"><%=addr.comments.size%></a></span>
	</div>	
<%if logged_in?%>
  <div class="maincolor5">
     <%= link_to_remote 'Copiar este enlace a tu perfil', :url => copy_member_bookmarks_bookmark_path(addr), :html=> {:class =>'maincolor5'}%> <%= link_to_remote image_tag("/img/ico/add.gif"), :url => copy_member_bookmarks_bookmark_path(addr), :html=> {:class =>'maincolor5'}%>
  </div>
<%end%>
<%if logged_in?-%><%=report_abuse_link(@address, 'Reportar abuso', :class => 'maincolor5') %><%end-%>				
</li>