<li class="clearfix">
    <div class="image left"><%= linkable_snapshop_image(addr)%></div>
    <%=link_to addr.title, bookmarks_address_path(addr)%>
    <br/>
    <%= I18n.t("tog_bookmarks.site.shared_by", :user=> link_to(addr.user.profile.full_name, profile_path(addr.user.profile))) %>. 
    <%= I18n.t("tog_bookmarks.site.shared_by_number",:number=>addr.bookmarks_count) %>
    <br/>
    <%= I18n.t("tog_core.site.comment.comments")%>: <%=link_to addr.comments.size,bookmarks_address_path(addr) %>
    <%if logged_in?%>
      <br/>
      <%= link_to I18n.t("tog_bookmarks.site.copy_link"), copy_member_bookmarks_bookmark_path(addr), :method => :post, :class => 'add' %>
    <%end%>
    <br/>
    <%=report_abuse_link(@address)%>
</li>