<div class="portlet_redsocial lightblue">
    <div class="portlet_title"><strong>Top 5 enlaces</strong><%=link_to image_tag("/img/ico/rss.gif"), bookmarks_addresses_path(:format=> :rss),:class=>"rss"%></div>
    <div class="portlet_content">
        <ul class="list3">
		            <% top_addresses.each do |address| %>

		            <li class="clearfix">

		                <div class="info">
		                    <%= link_to address.title, bookmarks_address_path(address.id), :class =>"maincolor3"%>
		                    <span class="members maincolor2">Compartido por <%=link_to(address.owner.name, profile_path(address.owner.profile), :class => 'maincolor3') %></span> 
		                    <span class="hits maincolor3"><%= address.bookmarks_count %> <img src="/img/ico/hits.gif" alt="compartido por <%= address.bookmarks_count %> usuarios" title="compartido por <%= address.bookmarks_count %> usuarios" /></span>		
		                </div>
		            </li>

					<% end -%>    

        </ul>

        
        <p class="viewall"><a href="/links">ver todos</a></p>
    </div> <!-- .portlet_content -->    
</div> <!-- .portlet_redsocial -->