<%= auto_discovery_link_tag(:rss, bookmarks_addresses_path(:format => :rss)) %>

<h2><span><%=I18n.t("interface.site.bookmarks")%></span></h2>
<p><%= link_to I18n.t('tog_bookmarks.member.new_link'), new_member_bookmarks_bookmark_path, :class => 'button add' %></p>

<div class="portlet portletB">

    <div class="portlet_content">
        <ul>
          <% for addr in @addresses %>
            <%= render :partial => "bookmarks/addresses/list_detail", :locals => { :addr => addr } %>
          <%end-%>
        </ul>
    </div>    
</div>

<%= will_paginate @addresses%>

<% content_for :sidebar do %>

  <%= render :partial => "bookmarks/addresses/lastaddresses" %>
  <br/>
  <%= render :partial => "bookmarks/addresses/topaddresses" %>

<% end %>