<div id="pagebody" class="threecols clearfix">

    <div id="sidebar_1">
        
			<%= render :partial => "/groups/last_groups" %>
                                   
    </div> <!-- #sidebar_1 -->
    
    
    
    <div id="mainzone">  

    <div class="title1 maincolor4 rss"><%= I18n.t("tog_bookmarks.site.link")%></div>

    <br />
	<div id="feedback<%=@address.id%>" style="display:none;"><div id="msg<%=@address.id%>" class="notice"></div></div>
	<% if flash[:notice] -%>
	        <div class="notice"><%= flash[:notice] %></div>
	<% end -%>
	<% if flash[:error] -%>
	        <div class="error"><%= flash[:error] %></div>
	<% end -%>
	    
		<div class="padding1">

			<div class="detail1 right_ico">
		    
            <div class="title maincolor3"><strong><%=@address.title%></strong></div>
				<div class="hits_ico right_ico"><%=@address.bookmarks_count%> <img src="/img/ico/hits.gif" alt="compartido <%=@address.bookmarks_count%> veces" title="compartido <%=@address.bookmarks_count%> veces " /></div>
            <div class="subtitle maincolor2">
                <a href="<%=@address.url%>" class="maincolor3" target="_blank"><%=@address.url%></a><br />
				<%= I18n.t("tog_bookmarks.site.shared_by",:user=>link_to(@address.owner.name, profile_path(@address.owner.profile), :class => 'maincolor5')) %>
			</div>
            <div class="text">
                <p><%=@address.description%></p>                                           
            </div> 
			<%if @bookmark%>
				<div class="maincolor5"><%= I18n.t("tog_bookmarks.site.in_your_profile")%></div>
			<%else%>
        <%if logged_in?%>
          <div class="maincolor5">
             <%= link_to_remote I18n.t("tog_bookmarks.site.copy_link"), :url => copy_member_bookmarks_bookmark_path(@address), :html=> {:class =>'maincolor5'}%> <%= link_to_remote image_tag("/img/ico/add.gif"), :url => copy_member_bookmarks_bookmark_path(@address), :html=> {:class =>'maincolor5'}%>
          </div>
        <%end%>
			<%end%>
			<%if logged_in?-%><%=report_abuse_link(@address, I18n.t("tog_core.site.abuses.report_abuse"), :class => 'maincolor5') %><%end-%>
        </div>
        
		</div> <!-- .padding1 -->
		

		<%= render :partial => 'shared/comments', :locals => { :commentable => @address } %>


    </div> <!-- #mainzone -->
    <div id="sidebar_2">
			<%= render :partial => "/bookmarks/addresses/topaddresses" %>
		    <%= render :partial => "/profiles/lastmembers" %>   
    </div> <!-- #sidebar_2 -->   
</div>  <!-- #pagebody -->

  