<% content_for :sidebar do %>
  <%= render :partial => "bookmarks/addresses/topaddresses" %>        
  <%= render :partial => "bookmarks/addresses/lastaddresses" %>
<% end %>


<div class="detail detail1">
  <div class="image"><%= linkable_snapshop_image(@address)%></div>
  <div class="title"><%=@address.title%></div>
  <div class="subtitle">
    <%= @address.url %>
    <br/>
    <%= I18n.t("tog_bookmarks.site.shared_by", :user=> link_to(@address.user.profile.full_name, profile_path(@address.user.profile))) %>. 
    <%= I18n.t("tog_bookmarks.site.shared_by_number",:number=>@address.bookmarks_count) %>
    <br/>
    <%= I18n.t("tog_bookmarks.address.created_at") %> <%= @address.creation_date %>
  </div>
  <div class="text">
    <p><%= @address.description %></p>
  </div>
  
  <div class="portlet portletC" id="portlet_moreLinks">
      <h2><span>More actions</span></h2>
      <div class="portlet_content">
          <ul>
            <li><%= link_to I18n.t("tog_bookmarks.site.copy_link"), copy_member_bookmarks_bookmark_path(@address), :method => :post, :class => 'add' %></li>
            <li><%= share_with_groups_link(@address) -%></li>
            <li><%=report_abuse_link(@address) %></li>
            <li>Rate: <%= render :partial => '/shared/rating', :locals => {:rateable => @address}%> </li>
          </ul>
      </div> 
  </div>  
    
</div> <!-- /.detail1 --> 

<br/><br/>
<%= render :partial => '/shared/comments', :locals => {:comments => @address.comments, :commentable => @address}%>  