<% content_for :sidebar do %>
<%= render :partial => "bookmarks/addresses/tag_cloud_bookmarks" %>
<%= render :partial => "bookmarks/addresses/topaddresses" %>        
<%= render :partial => "bookmarks/addresses/lastaddresses" %>
<% end %>

<div id="feedback<%=@address.id%>" style="display:none;"><div id="msg<%=@address.id%>" class="notice"></div></div>
   
<br/>

<div class="titleA round clearfix">
  <span class="float_right"><%= render :partial => '/shared/rating', :locals => {:rateable => @address} %></span>
  <%=@address.title%>
</div>
<br/>

<div class="internal_padding">
  <div class="perfil">
      <div class="photo round"><%=snapshot_image(@address)%></div>
      <div class="text">
                <a href="<%=@address.url%>" class="maincolor3" target="_blank"><%=@address.url%></a><br />
                Compartido por <%=link_to @address.owner.login, profile_path(@address.owner.profile), :class=> 'maincolor5' %> el <%=@address.created_at.strftime("%d/%m/%Y")%></div>
      <div class="text">
          <p><%=@address.description%></p>                                           
      </div>
      <div class="text">
        <% tag_lists = @address.bookmarks.collect{|bookmark|bookmark.tag_list} %>
        Tags:
        <% if !tag_lists.blank? %>
          <% for tags in tag_lists %>
            <% if !tags.blank? %>
              <% for tag in tags %>
                <%= link_to tag, tags_bookmarks_addresses_path(:tag => tag) %>
              <% end %>
            <% else %>
              No tags.
            <% end %>
          <% end %>
        <% else %>
          No tags.
        <% end %>
      </div>
      <%if @bookmark%>
        <div class="text">Este enlace está en tu perfil</div>
      <%else%>
        <%if logged_in?%>
          <div class="text">
             <%= link_to_remote 'Copiar a tu perfil', :url => copy_member_bookmarks_bookmark_path(@address), :html=> {:class =>'button mainaction round'}%> 
          </div>
        <%end%>
      <%end%>
      <br/>
      <div id="item_buttons">
        <%= share_with_groups_link(@address) -%>
        <%if logged_in?-%><%=report_abuse_link(@address, 'Reportar abuso', :class => 'button mainaction round') %><%end-%>
      </div>
  </div>    
</div>
<br/><br/>
<%= render :partial => '/shared/comments', :locals => {:comments => @address.comments, :commentable => @address}%>  