  <div id="info"style="width:25%;margin:20px;float:left">
    <strong><%=I18n.t("tog_bookmarks.site.tag")%> <%= @tag %></strong>
  </div>
  <div style="width:75%">
  <% unless @bookmarks.blank? %>
    <% for bookmark in @bookmarks %>
      <div class="title"><%= link_to bookmark.title, bookmarks_address_path(bookmark.url), :class =>"maincolor3"%></div>
			<%= link_to bookmark.url.url, bookmark.url.url, :class =>"maincolor3"%><br />
    <% end %>
  <% else %>
    <%=I18n.t("tog_bookmarks.site.no_bookmarks_with_tag")%>
  <% end %>
  </div>
