<h2><span><%=I18n.t("interface.site.bookmarks")%> for <%= @user.profile.full_name %></span></h2>

<div class="portlet portletB">

    <div class="portlet_content">
        <ul>
          <% for bmk in @bookmarks %>
            <%= render :partial => "bookmarks/addresses/list_detail", :locals => { :addr => bmk.address } %>
          <%end-%>
        </ul>
    </div>    
</div>

<%= will_paginate @bookmarks%>

<% content_for :sidebar do %>

  <%= render :partial => "bookmarks/addresses/lastaddresses" %>
  <br/>
  <%= render :partial => "bookmarks/addresses/topaddresses" %>

<% end %>
