<% content_for :sidebar do %>
<%= render :partial => "bookmarks/addresses/tag_cloud_bookmarks" %>
<%= render :partial => "bookmarks/addresses/topaddresses" %>        
<%= render :partial => "bookmarks/addresses/lastaddresses" %>
<% end %>

<br/>

<div class="internal_padding">

<div id="bookmarks">
  <div id="feedback_msg" style="display:none;"><br/><div class="notice">Enlace añadido correctamente</div></div>
</div>
<ul class="listG">
<% if @bookmarks.empty? %>
  <li class="clearfix">No existe ningún enlace.</li>
<% else %>
	<% for bmk in @bookmarks %>
		<%= render :partial => "bookmarks/addresses/list_detail", :locals => { :addr => bmk.url } %>
	<%end-%>
<%end-%>
</ul>
</div>

<%= will_paginate @bookmarks %>
