<h1><%= link_to I18n.t("tog_bookmarks.plugin_title"), admin_bookmarks_addresses_path%> / <%=@address.title%></h1>

<p>
<%= link_to I18n.t("tog_bookmarks.admin.edit"), edit_admin_bookmarks_address_path(@address), :class => 'button' %>

<%= link_to I18n.t("tog_bookmarks.admin.delete"), admin_bookmarks_address_path(@address), :confirm => I18n.t("tog_bookmarks.admin.delete_confirmation"), :class => 'button delete', :method => :delete %>
</p>

<table class="tableE">
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.title") %></th><td><%=@address.title%></td></tr>
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.url") %></th><td><%=@address.url%></td></tr>  
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.description") %></th><td><%=@address.description%></td></tr>  
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.count") %></th><td><%=@address.bookmarks_count%></td></tr>  
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.author") %></th><td><%= link_to @address.user.login, edit_admin_user_url(@address.user) %></td></tr>
  <tr><th scope="row"><%= I18n.t("tog_bookmarks.admin.created_at") %></th><td><%=@address.creation_date %></td></tr>
</table>
